/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body,
button,
input,
select,
textarea {
    color: white;
    font-family: "Courier", sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #1d1e22;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
    font-family: Consolas, sans-serif;
    line-height: 1;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #1d1e22;
    background-color: #feda6a;
    border-color: #feda6a;
    font-weight: 600;
}

    .btn-primary:hover {
        background-color: #d4d4dc;
        border-color: #d4d4dc;
        color: #1d1e22;
    }

.navbar {
    color: #1d1e22;
    background-color: #d4d4dc;
    font-weight: 700;
    font-size: 18px;
}



.navbar-brand {
    color: #1d1e22;
    font-size: 30px;
    transition: all ease-in-out 0.15s;
}

.navbar-brand:hover {
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 0.15s;
}

.nav-item a:hover {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* -- Homepage styling -- */
.hobbies-wrapper {
    background-color: rgba(212, 212, 220, 0.25);
    min-height: 400px;
    padding: 25px;
    margin-top: 25px;
}

.hobby {
    color: #1d1e22;

}

/* -- Event Timeline -- */
.events-wrapper {
    position: relative;
    margin-top: 25px;
}

.events-line {
    border-right: 2px solid #feda6a;
    left: 30px;
    position: absolute;
    top: 0px;
    height: 100%;
}

.events-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.event {
    margin-bottom: 25px;
}

.event-top {
    color: #1d1e22;
    font-weight: 600;
    background-color: rgba(254, 218, 106, 0.5);
    border-radius: 9999px;
}

.event-circle {
    background-color: #feda6a;
    border: 2px solid #1d1e22;
    border-radius: 9999px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.event-title {
    font-weight: 600;
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-title a {
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 0.15s;
}

.event-title a:hover {
    color: white;
}

.event-desc {
    margin-left: 48px;
    text-align: center;
}

.event-desc p {
    margin: 25px 0;
}

/* -- Event Detail styling -- */
.eventDetail-desc {
    line-height: 1.25;
}

.comment {
    color: #1d1e22;
    background-color: #d4d4dc;
    border-radius: 0.25rem;
}

.comment-header {
    font-weight: 700;
}

.comment-buttons {
    font-size: 20px;
}

.comment a {
    text-decoration: none;
    color: inherit;
    margin-left: 25px;
    transition: all ease-in-out 0.15s;
}

.comment a:hover {
    color: white;
}

/* -- Comment Form Styling -- */
.comment-cancel a {
    text-decoration: none;
    color: inherit;
    transition: all ease-in-out 0.15s;
}

.comment-cancel a:hover {
    color: #feda6a;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
