@model NashIRL.Models.Hobby

@{
    ViewData["Title"] = "Delete";
}
<h3 class="mb-4">Are you sure you want to delete this hobby?</h3>

<div>
    <p class="pendingHobby-name mb-5">@Model.Name</p>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-primary mb-4" />
        <div class="cancel">
            <a href="@Url.Action("Index")">Cancel</a>
        </div>
    </form>
</div>
