@model NashIRL.Models.ViewModels.HobbyIndexViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Hobby.Name</h2>

<a class="btn btn-primary" asp-controller="Event" asp-action="Create">Create New Event</a>

<div class="hobbyEvent-wrapper">
    @foreach (Event e in Model.Events)
            {
                <div class="hobbyEvent">
                    <a href="@Url.Action("Details", "Event", new { id = e.Id })">@e.Name</a> - @e.EventOn.ToShortDateString() 
                </div>
                <br />
            }
</div>

