@model NashIRL.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="hobbies">
    <h2 class="hobbies-title">Hobbies</h2>
    <div class="hobbies-wrapper">
        @foreach (var h in Model.Hobbies)
            {
                <div class="hobby">
                    <a href="@Url.Action("Details", "Hobby", new { id = h.Id })">@h.Name</a>
                </div>
            }
    </div>
</section>
<section class="events">
    <h2 class="events-title">Upcoming Events</h2>
    <div class="events-wrapper">
        @foreach (var e in Model.Events)
                {
        <a href="@Url.Action("Details", "Event", new { id = e.Id})">
            <div class="event">
                @e.Name
            </div>
        </a>
                }
    </div>
</section>
