@model NashIRL.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="hobbies">
    <h2 class="hobbies-title">Hobbies</h2>
    <div class="hobbies-wrapper">
        @foreach (var h in Model.Hobbies)
            {
                <div class="hobby">
                    @h.Name
                </div>
            }
    </div>
</section>
<section class="events">
    <h2 class="events-title">Upcoming Events</h2>
    <div class="events-wrapper">
        @foreach (var e in Model.Events)
                {
                    <div class="events">
                        @e.Name
                    </div>
                }
    </div>
</section>
