@model List<Comment>

<section class="comments">
    <h3 class="comments-title">Comments</h3>

    <div class="comments-wrapper">
        @foreach (var c in Model)
            {
                <div class="comment">
                    <div class="comment-header">
                        @c.UserProfile.FirstName said at @c.CreatedOn:
                    </div>
                    <div class="comment-body">
                        @c.Body
                    </div>
                </div>
            }
    </div>
</section>
